<ion-content padding>
	<ion-header>
		<h1 id="ptitle">{{title}}</h1>
		<ion-navbar>
			<ion-title>
				<img src="assets/imgs/logo.png" class="nav-logo">
			</ion-title>
		</ion-navbar>
	</ion-header>
	<div class='content'>
		<div *ngIf='hideLogin'>
			<div class="user-info errorCard hasError" id='warning'>
				<div class="content">
					<ion-icon name="alert"></ion-icon>
					<h1 id='errorHeader'>Let op</h1>
					<h4 id='errorHelp'>Deze app is alleen bedoeld voor de vrijwilligers van Timmerdorp, niet voor
						ouders of deelnemers! Klik op OK om door te gaan...</h4>
					<button ion-button (click)='showLogin()'>OK</button>
				</div>
			</div>
		</div>
		<div *ngIf='!hideLogin'>
			<h1>Inloggegevens</h1>
			<ion-list class="line-input">
				<ion-item>
					<ion-input class="ion-text-right" placeholder='Gebruikersnaam' [(ngModel)]="login.username">
					</ion-input>
				</ion-item>
			</ion-list>
			<ion-list class="line-input">
				<ion-item>
					<ion-input class="ion-text-right" type='password' placeholder='Wachtwoord'
						[(ngModel)]="login.password">
					</ion-input>
				</ion-item>
			</ion-list>
			<button id='saveBtn' ion-button full class='bg-green' (click)='loginNow()'>
				<ion-icon slot='start' name='md-log-in'>
				</ion-icon>
				<span>
					Opslaan
				</span>
			</button>
			<div [ngClass]="'user-info errorCard' + (error?' hasError':'')">
				<div class="content" *ngIf='error'>
					<ion-icon name='warning'></ion-icon>
					<h1 id='errorHeader' [innerHTML]='error'></h1>
					<h4 id='errorHelp' [innerHTML]='errorHelp'></h4>
				</div>
			</div>

			<div class="user-info errorCard info hasError">
				<div class="content">
					<ion-icon name="information-circle"></ion-icon>
					<h1 id='errorHeader'>Inloggegevens</h1>
					<h4 id='errorHelp'>Zoek Stan (wijk blauw) of Stephan (wijk geel) voor het krijgen van de
						inloggegevens.</h4>
				</div>
			</div>

			<button ion-button full type="submit" (click)="belStan()" class='bg-blue' id='callBtn'>
				<ion-icon slot='start' name='call'></ion-icon>
				<span>Bel Stan</span>
			</button>
			<div id='stagingSwitch'>
				<button ion-button id='stagingBtn' full (click)='switchEnv()'>hidden</button>
				<p *ngIf="staging" id='stagingMsg'>staging enabled</p>
			</div>
		</div>
	</div>
</ion-content>