loginpage {
  h1:not(#errorHeader) {
    text-align: center;
    font-weight: bold;
    font-family: Montserrat!important;
    font-size: 4rem!important;
  }

  .line-input:nth-of-type(2n + 1) {
    margin-bottom: 16px !important;
  }

  #callBtn {
    ion-icon {
      margin-right: 12px;
      position: relative;
      font-size: 1.8em;
    }
    span {
      font-size: 18px;
    }
  }

  #statusMsg {
    height: 20px;
    font-size: 20px;
    padding-left: 8px;
    padding-top: 10px;
    text-align: center;
  }

  .successMsg {
    color: green;
  }

  .errorCard:not(.info) {
    margin-bottom: 18px;
    #errorHeader {
      margin-top: 0px !important;
      margin-bottom: 6px;
    }
  }

  .errorCard.info {
    background: $blue !important;
    &:not(#warning) #errorHeader {
      margin-top: 0px !important;
      margin-bottom: 6px;
    }

    &#warning #errorHeader {
      margin-top: 4px !important;
      margin-bottom: 5px !important;
    }

    &#warning button {
      height: 32px;
      margin-bottom: 8px;
      margin-top: 8px;
      background: rgba(0, 0, 0, 0.15);
    }
  }

  button {
    &.bg-blue {
      margin-top: 24px !important;
    }
    max-width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  div.scroll-content {
    background: #0c7cd5;
    color: white;
    > .content {
      padding-top: 50px!important;
      min-height: calc(100% - 120px);
      > div {
        min-height: 320px;
      }
    }
  }

  #switchBar {
    background: #07497e;
    height: 120px;
    width: 100%;
    position: relative;
    z-index: 2;

    table {
      height: 100%;
      width: 100%;

      td {
        height: 100%;
        display: table-cell;
        vertical-align: middle;

        div {
          margin: 0 auto;
          width: fit-content;
          cursor: pointer;

          div {
            background: white;
            border-radius: 40px;
            text-align: middle;
            color: black;
            height: 32px;
            font-size: 18px;
            margin: 0 auto;
            width: fit-content;
            padding: 16px 24px;
            display: table-cell;
            vertical-align: middle;
            font-weight: bold;
          }
        }
      }
    }
  }

  #warning {
    ion-icon {
      font-size: 10rem;
      top: 40px;
      left: 18px;
    }
    max-width: unset!important;
    #errorHeader {
      font-size: 32px;
      font-weight: bold;
    }
    #errorHeader, #errorHelp {
      left: 100px!important;
      width: calc(100% - 100px)!important;
    }
  }
}
