<ion-content padding>
  <div class='content main-content'>
    <div *ngIf='hideLogin'>
      <h1 style="font-size: 3.5rem!important;">Welkom bij de Timmerdorp app!</h1>
      <div class="user-info errorCard hasError" id='warning' style="width: 80%; background: #07497e!important;">
        <div class="content">
          <ion-icon name="alert"></ion-icon>
          <h1 id='errorHeader'>Let op</h1>
          <h4 id='errorHelp' style="margin-bottom: 0px;">Deze app is alleen bedoeld voor de vrijwilligers van
            Timmerdorp, niet voor ouders of deelnemers! Klik op OK om door te gaan... <br>
            <button ion-button (click)='showLogin()'
              style="background: darkred; height: 60px; width: 140px; margin-top: 16px; margin-bottom: 16px; background: #053459;">
              OK
            </button>
          </h4>
        </div>
      </div>
    </div>
    <div *ngIf="!hideLogin">
      <div *ngIf="loginPart">
        <h1>Inloggen</h1>
        <ion-list class="line-input">
          <ion-item>
            <ion-input class="ion-text-right" placeholder='E-mailadres' (keydown)="logInInput($event)"
              [(ngModel)]="(login || {}).username" autocomplete="email">
            </ion-input>
          </ion-item>
        </ion-list>
        <ion-list class="line-input">
          <ion-item>
            <ion-input class="ion-text-right" type='password' placeholder='Wachtwoord' (keydown)="logInInput($event)"
              [(ngModel)]="(login || {}).password" autocomplete="current-password">
            </ion-input>
          </ion-item>
        </ion-list>
        <button id='saveBtn' ion-button full style="background: #085592" (click)='loginNow()'>
          <ion-icon slot='start' name='md-log-in'>
          </ion-icon>
          <span>
            Inloggen
          </span>
        </button>
        <div class="user-info" *ngIf="loading">
          <ion-spinner color='white'></ion-spinner>
        </div>
        <div [ngClass]="'user-info errorCard' + (error?' hasError':'')">
          <div class="content" *ngIf='error'>
            <ion-icon name='warning'></ion-icon>
            <h1 id='errorHeader' [innerHTML]='error'></h1>
            <h4 id='errorHelp' [innerHTML]='errorHelp'></h4>
          </div>
        </div>
        <p>Heb je al een account aangemaakt in de Timmerdorp-webshop, om bijvoorbeeld kaartjes te kopen voor je kinderen? Log dan in met dat webshop-account.</p>
      </div>
      <div *ngIf="!loginPart">
        <h1>Registreren</h1>
        <ion-list class="line-input">
          <ion-item>
            <ion-input class="ion-text-right" placeholder='Voornaam' (keydown)="regInput($event)"
              [(ngModel)]="(register || {}).voornaam" autocomplete="given-name">
            </ion-input>
          </ion-item>
        </ion-list>
        <ion-list class="line-input" style="margin-bottom: 16px!important;">
          <ion-item>
            <ion-input class="ion-text-right" placeholder='Achternaam' (keydown)="regInput($event)"
              [(ngModel)]="(register || {}).achternaam" autocomplete="family-name">
            </ion-input>
          </ion-item>
        </ion-list>
        <ion-list class="line-input">
          <ion-item>
            <ion-input class="ion-text-right" placeholder='E-mailadres' (keydown)="regInput($event)"
              [(ngModel)]="(register || {}).username" autocomplete="email">
            </ion-input>
          </ion-item>
        </ion-list>
        <ion-list class="line-input">
          <ion-item>
            <ion-input class="ion-text-right" type='password' placeholder='Wachtwoord' (keydown)="regInput($event)"
              [(ngModel)]="(register || {}).password" autocomplete="new-password'">
            </ion-input>
          </ion-item>
        </ion-list>
        <button id='saveBtn' ion-button full style="background: #085592" (click)='registerNow()'>
          <ion-icon slot='start' name='md-log-in'>
          </ion-icon>
          <span>
            Registreren
          </span>
        </button>
        <div class="user-info" *ngIf="loading">
          <ion-spinner color='white'></ion-spinner>
        </div>
        <div [ngClass]="'user-info errorCard' + (error?' hasError':'')">
          <div class="content" *ngIf='error'>
            <ion-icon name='warning'></ion-icon>
            <h1 id='errorHeader' [innerHTML]='error'></h1>
            <h4 id='errorHelp' [innerHTML]='errorHelp'></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!hideLogin" id="switchBar">
    <table>
      <td>
        <div (click)="loginPart = !loginPart">
          <div>
            {{ loginPart ? "REGISTREREN" : "INLOGGEN" }}
          </div>
        </div>
      </td>
    </table>
  </div>

</ion-content>
