page-wijk {
  #spinner {
    transition-duration: 400ms;
    height: 20px;
    margin-bottom: 40px;
    &.hidden {
      height: 0px;
      margin-bottom: 0px;
    }
  }

  #kiesWijkButton {
    margin-right: 12px;
    position: relative;
    font-size: 1.8em;
  }

  table {
    tr td:first-of-type {
      font-weight: bold;
    }
    margin-left: 20px;
  }
  td {
    text-align: left;
    padding-right: 4px;
  }

  .halfWidth {
    font-weight: bold;
    font-size: 28px;
    height: 180px;
    margin: -2px !important;
  }

  #main {
    text-align: center;
    button {
      span span {
        font-weight: normal;
        font-size: 20px;
      }
    }
  }

  * {
    transition-duration: 500ms;
    transition-property: background-color !important;
  }

  .red,
  .red .toolbar-background {
    background: $red !important;
  }
  .yellow,
  .yellow .toolbar-background {
    background: $yellow !important;
  }
  .green,
  .green .toolbar-background {
    background: $green !important;
  }

  .blue,
  .blue .toolbar-background {
    background: $blue !important;
  }

  .toolbar-background {
    background: white !important;
  }

  h1:not(#ptitle) {
    margin-top: 0;
  }

  #table2 {
    margin-left: 20px;
  }

  #main > .user-info {
    border: none !important;
  }

  #wijkChoice {
    text-align: center;
  }

  #wijkHeader {
    padding-top: 20px;
    background: #333;
    color: white;
    padding-bottom: 20px;
    margin-bottom: 0px;
  }

  .wijk-header {
    &:not(.blue, .red, .green, .yellow) {
      * {
        color: #333 !important;
      }
    }

    &.yellow,
    &.green,
    &.blue,
    &.red {
      * {
        color: white !important;
      }
    }
  }
}
