<ion-content padding>
	<ion-header>
		<ion-icon (click)="goHome()" class='homeIcon' name="md-home"></ion-icon>
		<h1 (click)="goHome()" id="ptitle">Timmerdorp</h1>
		<ion-navbar>
			<ion-title>
				<img (click)="goHome()" src="assets/imgs/logo.png" class="nav-logo">
			</ion-title>
		</ion-navbar>
	</ion-header>
	<div *ngIf='showSelection' style='text-align: center'>
		<h1 style='margin-top: 20px;'>Kies je wijk</h1>
		<button ion-button class='bg-blue modern customColoured' full (click)='kiesWijk("blue")'>Blauw</button>
		<button ion-button class='bg-yellow modern customColoured' full (click)='kiesWijk("yellow")'>Geel</button>
		<button ion-button class='bg-red modern customColoured' full (click)='kiesWijk("red")'>Rood</button>
		<button ion-button class='bg-green modern customColoured' full (click)='kiesWijk("green")'>Groen</button>
	</div>
	<div class='content'>
		<div *ngIf='!showSelection' style='text-align: center'>
			<div class="user-info" style='border: none!important;'>
				<div id='spinner' [ngClass]="{'hidden': !(loading&&!notLoggedIn)}">
					<div *ngIf="loading&&!notLoggedIn">
						<ion-spinner color='primary'></ion-spinner>
					</div>
				</div>
				<span *ngIf="!loginError&&!notLoggedIn" class='errorMsg'>
					{{error}}
				</span>
				<span *ngIf="loginError" class='errorMsg'>
					Login-gegevens onjuist. <a (click)='toLogin()'>Aanpassen</a>
				</span>
				<span *ngIf="notLoggedIn" class='errorMsg'>
					Je moet eerst <a (click)='toLogin()'>inloggen</a>!
				</span>
			</div>
			<h1>Wijkoverzicht {{getName(wijk)}}</h1>
			<table style='margin-left: 20px;'>
				<tr>
					<td style='text-align:left; padding-right:4px;'>
						<b>Totaal aantal kinderen in wijk:&nbsp;</b>
					</td>
					<td style='text-align:left; padding-right:4px;'>
						<span *ngIf="statistieken">{{(wijkstats||{}).count||"&mdash;"}}</span>
					</td>
				</tr>
				<tr>
					<td style='text-align:left; padding-right:4px;'>
						<b>Aanwezig dinsdag:&nbsp;</b>
					</td>
					<td style='text-align:left; padding-right:4px;'>
						<span *ngIf="wijkstats">{{(wijkstats||{}).presentTue||"&mdash;"}}</span>
					</td>
				</tr>
				<tr>
					<td style='text-align:left; padding-right:4px;'>
						<b>Aanwezig woensdag:&nbsp;</b>
					</td>
					<td style='text-align:left; padding-right:4px;'>
						<span *ngIf="wijkstats">{{(wijkstats||{}).presentWed||"&mdash;"}}</span>
					</td>
				</tr>
				<tr>
					<td style='text-align:left; padding-right:4px;'>
						<b>Aanwezig donderdag:&nbsp;</b>
					</td>
					<td style='text-align:left; padding-right:4px;'>
						<span *ngIf="wijkstats">{{(wijkstats||{}).presentThu||"&mdash;"}}</span>
					</td>
				</tr>
				<tr>
					<td style='text-align:left; padding-right:4px;'>
						<b>Aanwezig vrijdag:&nbsp;</b>
					</td>
					<td style='text-align:left; padding-right:4px;'>
						<span *ngIf="wijkstats">{{(wijkstats||{}).presentFri||"&mdash;"}}</span>
					</td>
				</tr>
			</table>
			<br>
			<button ion-button full (click)="clearWijkSelection()" class='bg-blue'>
				<ion-icon slot='start' name='create' style='margin-right:12px;position:relative;font-size:1.8em;'>
				</ion-icon>
				<span style='font-size:18px'>
					Verander wijkkeuze
				</span>
			</button>
			<br>
			<h1>Algemene Statistieken</h1>
			<table style='margin-left: 20px;'>

				<tr>
					<td style='text-align:left; padding-right:4px;'>
						<b>Totaal aantal kinderen:&nbsp;</b>
					</td>
					<td style='text-align:left; padding-right:4px;'>
						<span *ngIf="statistieken">{{(statistieken||{}).count}}</span>
					</td>
				</tr>
				<tr>
					<td style='text-align:left; padding-right:4px;'>
						<b>Aantal kinderen met hutnummer:&nbsp;</b>
					</td>
					<td style='text-align:left; padding-right:4px;'>
						<span *ngIf="statistieken">{{(statistieken||{}).haveHutnr}}</span>
					</td>
				</tr>
				<tr>
					<td style='text-align:left; padding-right:4px;'>
						<b>Aantal kinderen met armbandje:&nbsp;</b>
					</td>
					<td style='text-align:left; padding-right:4px;'>
						<span *ngIf="statistieken">{{(statistieken||{}).haveWristband}}</span>
					</td>
				</tr>
				<tr>
					<td style='text-align:left; padding-right:4px;'>
						<b>Aanwezig dinsdag:&nbsp;</b>
					</td>
					<td style='text-align:left; padding-right:4px;'>
						<span *ngIf="statistieken">{{(statistieken||{}).presentTue||"&mdash;"}}</span>
					</td>
				</tr>
				<tr>
					<td style='text-align:left; padding-right:4px;'>
						<b>Aanwezig woensdag:&nbsp;</b>
					</td>
					<td style='text-align:left; padding-right:4px;'>
						<span *ngIf="statistieken">{{(statistieken||{}).presentWed||"&mdash;"}}</span>
					</td>
				</tr>
				<tr>
					<td style='text-align:left; padding-right:4px;'>
						<b>Aanwezig donderdag:&nbsp;</b>
					</td>
					<td style='text-align:left; padding-right:4px;'>
						<span *ngIf="statistieken">{{(statistieken||{}).presentThu||"&mdash;"}}</span>
					</td>
				</tr>
				<tr>
					<td style='text-align:left; padding-right:4px;'>
						<b>Aanwezig vrijdag:&nbsp;</b>
					</td>
					<td style='text-align:left; padding-right:4px;'>
						<span *ngIf="statistieken">{{(statistieken||{}).presentFri||"&mdash;"}}</span>
					</td>
				</tr>
			</table>
		</div>
	</div>
</ion-content>