page-hutjes-map {
  div.content.main-content {
    padding: 0px !important;
    padding-top: 80px !important;
  }

  div#locationIndicator,
  div#hutHighlight {
    display: inline-block;
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    border: white 3px solid;
    z-index: 100;
    transition-duration: 400ms;
  }

  div#locationIndicator {
    background: #4285f4;
    opacity: 0;
    transition-duration: 400ms;

    &.shown {
      opacity: 1;
    }

    &.small {
      width: 8px;
      height: 8px;
      border-width: 1px;
    }
  }

  div#hutHighlight {
    background: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    transition-duration: 400ms;
    transform: scale(1.4);

    &.small {
      width: 16px;
      height: 16px;
      border-width: 2px;
    }

    &.shown {
      animation: indicatorPulse 1s infinite;
      border-color: white;
    }
  }

  #selectionHighlight {
    position: absolute;
    opacity: 0;
    color: white;
    font-size: 16px;
    transition-duration: 400ms;
    -webkit-text-stroke: 1.4px black;

    &.shown {
      opacity: 1;
    }
  }

  @keyframes indicatorPulse {
    0% {
      transform: scale(1.8);
    }
    50% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1.8);
    }
  }

  #zoomable {
    overflow: hidden;
  }

  #zoomable-content {
    transform: scale(1);
    position: relative;
    top: 0px;
    left: 0px;
    transition-duration: 400ms;
  }

  #modalBottom p {
    margin-bottom: -8px;
  }

  #hutjesMapModal {
    &.high {
      z-index: 10;
    }
    &.shown {
      opacity: 1;
    }
    opacity: 0;
    z-index: -1;
    transition-duration: 400ms;
    transition-property: opacity;
  }
}
