<ion-content padding>
	<ion-header (click)='g.goHome()'>
		<ion-icon class='homeIcon' name="md-home"></ion-icon>
		<h1 id="ptitle">{{title}}</h1>
		<ion-navbar>
			<ion-title>
				<img src="assets/imgs/logo.png" class="nav-logo">
			</ion-title>
		</ion-navbar>
	</ion-header>
	<div class='content'>
		<div [ngClass]="'user-info errorCard' + (error?' hasError':'')">
			<div class="content" *ngIf='error'>
				<ion-icon name='warning'></ion-icon>
				<h1 id='errorHeader' [innerHTML]='error'>{{ error }}</h1>
				<h4 id='errorHelp' [innerHTML]='errorHelp' style="padding-bottom: 12px;">{{ errorHelp }}</h4>
			</div>
		</div>
		<div [ngClass]='loading?"loading load-spinner":"load-spinner"'>
			<ion-spinner color='primary' *ngIf='loading'></ion-spinner>
		</div>

		<div *ngIf="loadedTicket">
			<div class="user-info">
				<table class='cleanTable'>
					<tr>
						<td>Naam:</td>
						<td>{{ ticket.firstName + ((ticket.nickName && ticket.nickName !== ticket.firstName) ? ' (' + ticket.nickName + ')' : '') }} {{ ticket.lastName }}</td>
					</tr>
					<tr>
						<td>Ticket QR-code:</td>
						<td>{{ ticket.id }}</td>
					</tr>
					<tr>
						<td>Geboortedatum:</td>
						<td>{{ ticket.birthdate }}</td>
					</tr>
					<tr *ngIf='ticket.hutNr'>
						<td>Hutnummer: </td>
						<td>{{ ticket.hutNr }}</td>
					</tr>
				</table>
			</div>
			<div class="bracelet-number">
        <h1>Armbandnummer</h1>
        <p style="padding: 0 24px;" *ngIf="showSuggestion">Wil je <span (click)="ticket.wristband = '' + suggestionNumber" id="wristbandSuggestion">bandje {{ suggestionNumber }}</span> toewijzen?</p>
				<ion-list class="line-input">
					<ion-item>
						<ion-input #nrInput type='tel' maxlength='3' [(ngModel)]='ticket.wristband'
							class="ion-text-right">
						</ion-input>
					</ion-item>
				</ion-list>
			</div>
		</div>
	</div>
	<button *ngIf="(ticket.wristband || '').length > 2" ion-button full (click)="saveTicket()"
		class="bg-green correction modern">Opslaan</button>
</ion-content>

<div [ngClass]="{'shown': modal.showModal}" (click)="$event.target.id==='myModal'?closeModal():''" id="myModal"
	class="modal conditional">
	<div class="modal-content">
		<div id='modalTop' class='warnModal'>
		</div>
		<div id='modalBottom'>
			<span class="close" (click)="closeModal();">&times;</span>
			<h1>Waarschuwing</h1>
			<p>Dit ticket heeft al een armband!</p>
		</div>
		<button ion-button full (click)="closeModal();" class="correction">Alsnog doorgaan</button>
		<button ion-button full (click)="goHome()" class="correction">Terug naar homepagina</button>
	</div>
</div>
