<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name='menu'></ion-icon>
		</button>
		<ion-title>
			<img src="http://timmerdorp.com/img/ding.svg" onClick="javascript:document.getElementsByClassName('nav-items item item-block item-md')[0].click();//go to home page"align="middle" class="nav-logo">
		</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<div class="user-info">
		<span style="color:red;">
			{{error}}
		</span>
		<div *ngIf="loading">
			even wachten...
		</div>
	</div>
	<div *ngIf="ticket.barcode.length > 0">
		<div class="user-info">
			<h1>Naam</h1>
			{{ticket.firstName}} {{ticket.lastName}}
			<br> {{ticket.barcode}}
			<br> {{ticket.birthDate}}
		</div>
		<div class="bracelet-number">
			<h1>Armband nummer:</h1>
			<ion-input #nrInput type="tel" placeholder="123" [(ngModel)]="ticket.wristBandNr" maxlength="3"></ion-input>
			<span *ngIf="wristBandError" class="form-error">
				{{ wristBandError }}
			</span>
		</div>
	</div>

	<button ion-button full (click)="goBack()" class="bg-red correction">Terug</button>
	<button *ngIf="ticket.wristBandNr.length > 2" ion-button full (click)="saveTicket()" class="bg-green correction"> Opslaan </button>
	
	<!-- start modal box -->
	<div *ngIf="modal.showModal" id="myModal" class="modal">
		<div class="modal-content">
			<span class="close" (click)="modal.showModal = false;">&times;</span>
			<h1>{{modal.text}}</h1>
			<button ion-button full (click)="goBack()" class="bg-red correction">Terug naar home</button>
		</div>
	</div>
</ion-content>
