page-scan-ticket {
	.load-spinner {
		height: 20px;
		text-align: center;
		&.loading {
			height: 80px;
		}
	}

	.cleanTable td:first-of-type {
		font-weight: bold;
	}

	.user-info {
		padding-top: 0px !important;
	}
	.errorCard {
		.content {
			padding: 6px !important;
		}
	}
}
