page-forgot-password {
  h1:not(#errorHeader) {
    text-align: center;
    font-weight: bold;
    font-family: Montserrat !important;
    font-size: 4rem !important;
  }

  div.scroll-content {
    background: #0c7cd5;
    color: white;
    > .content {
      padding-top: 50px !important;
    }
  }
  ion-item.item {
    &,
    &.item-input-has-focus {
      border: none !important;
      background: #78bff8;
      &.item-input-has-focus {
        background: lighten(#78bff8, 10%);
      }
      color: black;
      border-radius: 6px;
      height: 58px;
      margin-bottom: 18px;
      font-size: 18px;
      & input::placeholder {
        color: black;
      }
    }
  }
  button {
    background: darken($blue, 12%);
  }
}
