<ion-content padding>
  <div class='content main-content'>
    <div class="container">
      <div *ngIf="!sent && !chooseNewPassword">
        <h1>
          Nieuw wachtwoord
        </h1>
        <p>
          Vul hieronder je e-mailadres in om een nieuw wachtwoord in te stellen.
        </p>
        <ion-list class="line-input">
          <ion-item>
            <ion-input class="ion-text-right" placeholder='E-mailadres' [(ngModel)]="email" autocomplete="email">
            </ion-input>
          </ion-item>
        </ion-list>
        <button ion-button style="background: #085592" full (click)="sendRequest()">
          <ion-icon slot='start' style="margin-right: 16px;" name='send'></ion-icon>
          <span *ngIf="!loading">
            Verstuur verzoek
          </span>
          <ion-spinner color='white' *ngIf="loading"></ion-spinner>
        </button>
        <button ion-button style="background: #085592" full (click)="goBack()">
          <ion-icon slot='start' style="margin-right: 16px;" name='arrow-back'></ion-icon>
          <span>
            Terug
          </span>
        </button>
      </div>
      <div *ngIf="chooseNewPassword && !success">
        <h1>Nieuw wachtwoord instellen</h1>
        Voer hieronder je nieuwe wachtwoord in voor het account met e-mailadres {{ receivedEmail }}.
        <br>
        <br>
        <ion-list class="line-input">
          <ion-item>
            <ion-input class="ion-text-right" placeholder='Wachtwoord' [(ngModel)]="password" type="password"
              autocomplete="new-password">
            </ion-input>
          </ion-item>
        </ion-list>
        <button ion-button style="background: #085592" full (click)="saveNewPassword()">
          <ion-icon slot='start' style="margin-right: 16px;" name='send'></ion-icon>
          <span *ngIf="!loading">
            Opslaan
          </span>
          <ion-spinner *ngIf="loading" color='white'></ion-spinner>
        </button>
      </div>
      <div *ngIf="chooseNewPassword && success">
        <h1>Nieuw wachtwoord opgeslagen!</h1>
        <p>Het is gelukt een nieuw wachtwoord in te stellen voor account {{ receivedEmail }}, en je in te loggen. Klik
          hieronder om meteen gebruik te maken van de app.</p>
        <button ion-button style="background: #085592" full (click)='g.goHome()' class="correction">
          <ion-icon slot='start' style="margin-right: 16px;" name='home'></ion-icon>
          Terug naar homepagina
        </button>
      </div>
      <div *ngIf="sent">
        <h1>
          E-mail verzonden!
        </h1>
        <p>
          Check je inbox voor de link om een nieuw wachtwoord in te stellen. Controleer ook je spam-map.
        </p>
        <button ion-button style="background: #085592" full (click)='g.toLogin("back")' class="correction">
          <ion-icon slot='start' style="margin-right: 16px;" name='home'></ion-icon>
          Terug naar inlog-pagina
        </button>
      </div>
    </div>
  </div>
</ion-content>
