<ion-content padding>
	<ion-header (click)="g.goHome()">
		<ion-icon class='homeIcon' name="md-home"></ion-icon>
		<h1 id="ptitle">Timmerdorp</h1>
		<ion-navbar>
			<ion-title>
				<img src="assets/imgs/logo.png" class="nav-logo">
			</ion-title>
		</ion-navbar>
	</ion-header>
	<div class='content'>
		<div class="container">
			<div class="bracelet-number">
				<h1>Aanwezigheid</h1>
				<h3>Aanwezigheid registreren voor <u id='dayName'
						(click)='alert()'>{{getDayName(day).toLowerCase()}}</u></h3>
				<ion-list class="line-input">
					<ion-item id='numberInput'>
						<ion-input #nrInput type='tel' maxlength='3' class="ion-text-right" [(ngModel)]="number"
							(ngModelChange)="getChild($event)">
						</ion-input>
					</ion-item>
				</ion-list>
				<button (click)='togglePresence()' id='sendButton' ion-button type="submit"
					[ngClass]='greenBtn ? "bg-green" : "bg-blue"' block>
					<ion-icon name="send"></ion-icon>
					<span id='btnLabel'>
						Opslaan
					</span>
				</button>
			</div>
		</div>
		<div [ngClass]="'user-info errorCard' + (error?' hasError':'')">
			<div class="content" *ngIf='error'>
				<ion-icon name='warning'></ion-icon>
				<h1 id='errorHeader' [innerHTML]='error'></h1>
				<h4 id='errorHelp' [innerHTML]='errorHelp'></h4>
			</div>
		</div>
		<div class="user-info">
			<div>
				<div *ngIf="loading&&!notLoggedIn">
					<ion-spinner color='primary'></ion-spinner>
				</div>
			</div>
		</div>
		<div class='infoCard fadeIn {{(tickets[0]||{}).meta?"shown":""}}' id='childInfo'>
			<div *ngIf='(tickets[0]||{}).meta' class='{{"inhoud " + g.getWijk((tickets[0].meta.hutnr||[])[0])}}'>
				<h1>Kind #{{number}}</h1>
				<table>
					<tr>
						<td>Naam: </td>
						<td>{{(tickets[0].meta.WooCommerceEventsAttendeeName||[])[0]}}
							{{(tickets[0].meta.WooCommerceEventsAttendeeLastName||[])[0] }}</td>
					</tr>
					<tr>
						<td>Polsbandnummer: </td>
						<td>{{tickets[0].meta.wristband}}</td>
					</tr>
					<tr>
						<td>Hutnummer: </td>
						<td>{{tickets[0].meta.hutnr}}</td>
					</tr>
					<tr>
						<td>Aanwezig {{getDayName(day).toLowerCase()}}: </td>
						<td>{{tickets[0].meta["present_" + day] && ("" + tickets[0].meta["present_" + day]).length > 0?"Ja":"Nee"}}
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div *ngIf='!(tickets[0]||{}).meta && history && history.length > 0 && !loading'>
			<ion-list class='peopleList'>
				<ion-list-header>
					Zoekgeschiedenis ({{history.length}})
				</ion-list-header>
				<ion-item *ngFor="let h of history"
					class='{{"item item-block item-md " + g.getWijk((h.hutnr||[0])[0])}}'
					(click)='number=""+h.wristband;getChild()'>
					<ion-label>
						<div>
							<h3>B<span class='largeScreenSpan'>andje</span>: <span>{{h.wristband}}</span></h3>
							<h3>H<span class='largeScreenSpan'>utje</span>: <span>{{h.hutnr}}</span></h3>
						</div>
						<div>
							<h2><span class='tinyScreen'>{{h.firstName}}<br>
									{{h.surName}}</span>
								<span class='notTinyScreen'>{{h.firstName}}
									{{h.surName}}</span>
							</h2>
						</div>
						<ion-button size="small" class='fab'>
							<ion-icon name='search'></ion-icon>
						</ion-button>
					</ion-label>
				</ion-item>
			</ion-list>
		</div>
	</div>
</ion-content>

<div [ngClass]="{'shown': modalShown}" (click)="$event.target.id==='myModal'?closeModal():''" id="myModal"
	class="modal conditional">
	<div class="modal-content">
		<div id='modalTop' class='warnModal'>
		</div>
		<div id='modalBottom'>
			<span class="close" (click)="closeModal();">&times;</span>
			<h1>Waarschuwing</h1>
			<p>Dit kind is al aanwezig gemeld voor {{getDayName(day).toLowerCase()}}! Je hebt twee opties:</p>
		</div>
		<button ion-button full (click)="closeModal()" class="bg-red correction">Terug</button>
		<button ion-button full (click)="makeAbsent()" class="bg-blue correction">Afwezig
			melden</button>
	</div>
</div>