<ion-content padding>
	<ion-header (click)="g.goHome()">
		<ion-icon class='homeIcon' name="md-home"></ion-icon>
		<h1 id="ptitle">{{title}}</h1>
		<ion-navbar>
			<ion-title>
				<img src="assets/imgs/logo.png" class="nav-logo">
			</ion-title>
		</ion-navbar>
	</ion-header>
	<div class='content'>
		<div class="container">
			<div class="bracelet-number">
				<h3>Aanwezigheid registreren voor <u id='dayName'
						(click)='alert()'>{{getDayName(day).toLowerCase()}}</u></h3>
				<ion-list class="line-input">
					<ion-item id='numberInput'>
						<ion-input #nrInput type='tel' maxlength='3' class="ion-text-right" [(ngModel)]="number"
							(ngModelChange)="getChild($event)" (keydown)="childNumberInput($event)">
						</ion-input>
					</ion-item>
				</ion-list>
				<button (click)='togglePresence()' id='sendButton' ion-button type="submit"
					[ngClass]='greenBtn ? "bg-green" : "bg-blue"' block>
					<ion-icon name="send"></ion-icon>
					<span id='btnLabel'>
						{{ loading ? 'Laden...' : (greenBtn ? 'Opgeslagen!' : 'Opslaan') }}
					</span>
				</button>
			</div>
		</div>
		<div [ngClass]="'user-info errorCard' + (error?' hasError':'')" style="margin-bottom: 24px;">
			<div class="content" *ngIf='error'>
				<ion-icon name='warning'></ion-icon>
				<h1 id='errorHeader' [innerHTML]='error'></h1>
				<h4 id='errorHelp' [innerHTML]='errorHelp'></h4>
			</div>
		</div>
		<div class="user-info">
			<div>
				<div *ngIf="loading">
					<ion-spinner color='primary'></ion-spinner>
				</div>
			</div>
		</div>
		<div class='infoCard fadeIn {{ foundTicket ? "shown" : "" }}' id='childInfo'>
			<div *ngIf='foundTicket' class='{{"inhoud " + g.getWijk( (ticket || {}).hutNr)}}'>
				<h1>Kind #{{number}}</h1>
				<table>
					<tr>
						<td>Naam: </td>
						<td>{{ (ticket.nickName || ticket.firstName) }} {{ ticket.lastName }}</td>
					</tr>
					<tr>
						<td>Polsbandnummer: </td>
						<td>{{ ticket.wristband }}</td>
					</tr>
					<tr>
						<td>Hutnummer: </td>
						<td>{{ ticket.hutNr }}</td>
					</tr>
					<tr>
						<td>Aanwezig op {{getDayName(day).toLowerCase()}}: </td>
						<td>{{ ticket["aanwezig_" + day] ? "Ja" : "Nee" }}
						</td>
					</tr>
				</table>
			</div>
		</div>

    <div *ngIf="searched && !foundTicket">
      <b>Geen kindjes gevonden! Probeer anders het polsbandje te achterhalen door het kind met zijn/haar naam op te zoeken via de zoekpagina.</b>
    </div>

    <ion-list class='peopleList fadeIn {{ !searched && (history || []).length && !loading && !foundTicket ? "shown" : "" }}'>
		  <div>
				<ion-list-header>
					Zoekgeschiedenis ({{ (history || []).length }})
				</ion-list-header>
				<ion-item *ngFor="let h of (history || [])"
					class='{{"item item-block item-md " + g.getWijk((h.hutNr||[0])[0])}}'
					(click)='number=""+h.wristband;getChild({})'>
					<ion-label>
            <div>
              <h3>B<span class="largeScreenSpan">andje</span>: <span>{{h.wristband}}</span>
              </h3>
              <h3>H<span class="largeScreenSpan">utje</span>: <span>{{h.hutNr}}</span></h3>
            </div>
            <div>
              <h2 style="height: 100px;">
                {{ h.nickName || h.firstName }}
                <br>
                {{ h.lastName }}
              </h2>
            </div>
            <ion-button size="small" class='fab'>
              <ion-icon name='search'></ion-icon>
            </ion-button>
					</ion-label>
				</ion-item>
      </div>
    </ion-list>
	</div>
</ion-content>

<div [ngClass]="{'shown': modalShown}" (click)="$event.target.id==='myModal'?closeModal():''" id="myModal"
	class="modal conditional">
	<div class="modal-content">
		<div id='modalTop' class='warnModal'>
		</div>
		<div id='modalBottom'>
			<span class="close" (click)="closeModal();">&times;</span>
			<h1>Waarschuwing</h1>
			<p style="margin-bottom: 0px;">Dit kind is al aanwezig gemeld voor {{getDayName(day).toLowerCase()}}! Je hebt twee opties:</p>
		</div>
		<button ion-button full (click)="closeModal()" class="bg-red correction">Terug</button>
		<button ion-button full (click)="makeAbsent()" class="bg-blue correction">Afwezig
			melden</button>
	</div>
</div>
