page-presence {
  #sendButton {
    width: calc(50% - 8px);
    display: inline-block;
    top: -5px;
  }

  tr > td:first-of-type {
    font-weight: bold;
    padding-right: 18px;
  }

  table {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  #numberInput {
    padding: 0;
    display: inline-block;
    margin-right: 12px;
    width: calc(50% - 8px) !important;
  }

  .fab {
    height: 48px;
    width: 48px;
    background: #2196f3;
    padding: 11px;
    color: white;
    right: 0px;
    padding-top: 0px !important;
    top: 15px;
    position: absolute;
    border-radius: 50% !important;
    padding-left: 12px !important;
  }
}
