page-presence {
  #sendButton {
    width: calc(50% - 8px);
    display: inline-block;
    top: -5px;
  }

  tr > td:first-of-type {
    font-weight: bold;
    padding-right: 18px;
  }

  table {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  #numberInput {
    padding: 0;
    display: inline-block;
    margin-right: 12px;
    width: calc(50% - 8px) !important;
  }

  #modalTop {
    background: #e82525;
  }

  #modalBottom p {
    margin-bottom: -16px;
  }

  .peopleList {
    ion-item {
      .input-wrapper ion-label {
        div:first-of-type {
          margin-top: 4px;
        }

        div:nth-of-type(2n) {
          margin-top: 5px;
        }
      }
    }
    ion-label div {
      top: 6px !important;
      position: relative;
    }
  }
}
