page-presence {
	#sendButton {
		width: calc(50% - 8px);
		display: inline-block;
		top: -37px;
	}

	tr > td:first-of-type {
		font-weight: bold;
		padding-right: 18px;
	}

	.peopleList {
		ion-item {
			h2 {
        font-size: 1.8rem;
			}
		}
	}

	#numberInput {
		display: inline-block;
		height: 80px;
		margin-top: 12px;
	}

	#sendButton {
		ion-icon {
			font-size: 1.5em;
			margin-right: 8px;
		}
	}

	ion-list.line-input {
		* {
			height: 100%;
		}
		display: inline-block;
		margin-right: 12px;
		width: calc(50% - 12px) !important;
	}

	#childInfo {
		margin-top: -50px;
		> div {
			padding-bottom: 12px;
		}
	}

	.user-info > div:not(.content) {
		height: 20px;
	}

	#dayName {
		color: green;
	}

	#modalTop {
		background: #e82525;
	}

	#modalBottom p {
		margin-bottom: -16px;
	}

	.peopleList {
		ion-item {
			.input-wrapper ion-label {
				div:first-of-type {
					margin-top: 4px;
				}
				@media screen and (min-width: 381px) {
					div:nth-of-type(2n) {
						margin-top: 8px;
					}
				}
			}
		}
	}
  #absenceReason {
    font-family: Roboto, Arial, Helvetia, sans-serif;
    width: 80%;
    min-height: 100px;
    font-size: 18px;
    padding: 8px;
    border-radius: 10px;
    margin-top: 12px;
    margin-bottom: 8px;
  }
}
