<ion-content padding>
	<ion-header (click)='g.goHome()'>
		<ion-icon class='homeIcon' name="md-home"></ion-icon>
		<h1 id="ptitle">{{title}}</h1>
		<ion-navbar>
			<ion-title>
				<img src="assets/imgs/logo.png" class="nav-logo">
			</ion-title>
		</ion-navbar>
	</ion-header>
	<div class='content'>
		<div class="user-info">
			<ion-list class="line-input">
				<h1 class='title'>Hutnummer:</h1>
				<ion-item>
					<ion-input class="ion-text-right" [(ngModel)]="hutNr" maxlength='3'
						(ngModelChange)="search($event)">
					</ion-input>
				</ion-item>
			</ion-list>
		</div>

		<div *ngIf='!(hutNr && hutNr.length === 3) && history && history.length > 0 && (!loading || isUndoing)'>
			<ion-list class='peopleList'>
				<ion-list-header>
					Wijzigingsgeschiedenis ({{(history || []).length}})
				</ion-list-header>

				<div *ngFor="let h of (history || []); let i = index">
					<ion-item [ngClass]="giveAccent && !i ? 'accent' : ''"
						class='{{"item item-block item-md " + g.getWijk((h.hutNr||[0])[0])}}'>
						<ion-label>
							<div *ngIf="!h.removal">
								<h2>{{h.name}}</h2>
								<h3>Polsbandje: {{h.wristband}}</h3>
							</div>
							<div *ngIf="h.removal">
								<h2>{{h.name}}</h2>
								<h3><i>Verwijderd uit hut</i></h3>
							</div>
							<div>
								<p>Oud<span class='largeScreenSpan'> hutje</span>: {{h.oldNr || "-"}}</p>
								<p>Nieuw<span class='largeScreenSpan'> hutje</span>: {{h.removal ? "-" : h.hutNr}}</p>
							</div>
						</ion-label>
					</ion-item>
				</div>
			</ion-list>
		</div>

		<div [ngClass]="'user-info errorCard' + (error?' hasError':'')">
			<div class="content" *ngIf='error&&hutNr'>
				<ion-icon name='warning'></ion-icon>
				<h1 id='errorHeader' [innerHTML]='error'></h1>
				<h4 id='errorHelp' [innerHTML]='errorHelp'></h4>
			</div>
		</div>
		<div class="user-info">
			<div>
				<div *ngIf="loading">
					<ion-spinner color='primary'></ion-spinner>
				</div>
			</div>
		</div>
		<div class="bracelet-number conditional"
			[ngClass]='hutNr && hutNr.length === 3 && !error && searched? "shown":""'>
			<h1 id='hutHeader' [ngClass]='g.getWijk(hutNr)'>Kinderen in hut {{hutNr}}</h1>
			<p *ngIf="searched && hutTickets && !hutTickets.length && hutNr && hutNr.length === 3">
				Nog geen kindertjes in dit hutje :(</p>
			<button *ngFor="let child of hutTickets" ion-button full [ngClass]="'modern alternate ' + g.getWijk(hutNr)"
				(click)="removeChild = child; showRemoveModal();">
				{{ child.firstName }} {{ child.lastName }} ({{ child.wristband || '-' }})
			</button>
			<button ion-button full (click)="showAddModal()" [ngClass]="'bg-blue correction ' + g.getWijk(hutNr)">
				<ion-icon slot='start' name='add' id='addIcon'></ion-icon>
				Kind toevoegen
			</button>
		</div>
	</div>
</ion-content>

<div [ngClass]="{'shown': addModal.show}" (click)="$event.target.id==='myModal'?closeAddModal():''" id="myModal"
	class="modal conditional">
	<div class="modal-content">
		<div id='modalTop' [ngClass]='g.getWijk(hutNr)'>
		</div>
		<div id='modalBottom'>
			<span class="close" (click)="closeAddModal();">&times;</span>
			<h1>Kind toevoegen</h1>
			<ion-item *ngIf="isTue&&allowAutoPresence">
				<ion-label>Automatisch aanwezig melden</ion-label>
				<ion-toggle [(ngModel)]="autoPresence"></ion-toggle>
			</ion-item>

			<p class="search-on">Zoek een kind en voeg het toe aan hutje {{ hutNr }}.</p>
			<ion-list class="line-input">
				<ion-item>
					<ion-input class="ion-text-right" [(ngModel)]="searchTerm" (ngModelChange)="searchChild($event)">
					</ion-input>
				</ion-item>
			</ion-list>

			<p class='errorMsg'>
				{{ searchError }}
			</p>

			<div id='spinner'>
				<ion-spinner *ngIf='loading' color='primary'></ion-spinner>
			</div>
		</div>

		<div *ngFor="let child of tickets" [ngClass]='"alternate " + g.getWijk(child.hutNr)'>
			<button ion-button full (click)="addChildToHut(child);" class="modern">
				{{ child.firstName }} {{ child.lastName }} ({{ child.wristband || '-' }})
        &nbsp;&mdash;&nbsp;
				<span *ngIf="child.hutNr">hutje: {{child.hutNr }}</span>
				<span *ngIf="!child.hutNr">Geen hutje :(</span>
			</button>
		</div>
	</div>
</div>

<div [ngClass]="{'shown': removeModal.show}" id="removeModal"
	(click)="$event.target.id==='removeModal'?closeRemoveModal():''" class="conditional modal stanModal">
	<div class="modal-content">
		<div id='modalTop' class='warnModal'>
		</div>
		<div id='modalBottom'>
			<span class="close" (click)="closeRemoveModal();">&times;</span>
			<h1>Waarschuwing</h1>
			<p *ngIf="removeChild">Weet je zeker dat je {{ removeChild.nickName || removeChild.firstName }}
				wilt verwijderen?</p>
		</div>
		<button ion-button full (click)="removeChildFromHut(removeChild)">Ja</button>
		<button ion-button full (click)="closeRemoveModal()">Nee</button>
	</div>
</div>

<div [ngClass]="{'shown': warningModal.show}" id="warningModal"
	(click)="$event.target.id==='warningModal'?closeWarningModal():''" class="conditional modal stanModal">
	<div class="modal-content">
		<div id='modalTop' class='warnModal'>
		</div>
		<div id='modalBottom'>
			<span class="close" (click)="closeWarningModal();">&times;</span>
			<h1>Waarschuwing</h1>
			<p *ngIf="selectedChild && alreadyHasHutError">{{ selectedChild.nickName || selectedChild.firstName }} heeft al een
				hutje! Weet je zeker dat je hem/haar wilt overplaatsen van hutje {{selectedChild.hutNr}} naar hutje
				{{hutNr}}?</p>
			<p *ngIf="selectedChild&&noWristbandError">{{ selectedChild.nickName || selectedChild.firstName }} heeft nog geen
				polsbandje! Hij/zij kan nog niet toegevoegd worden aan een hutje.</p>
		</div>
		<button ion-button full (click)="closeWarningModal()" *ngIf='noWristbandError'>Terug</button>
		<button ion-button full (click)="reallyAddChildNow()" *ngIf='alreadyHasHutError'>Ja</button>
		<button ion-button full (click)="closeWarningModal()" *ngIf='alreadyHasHutError'>Nee</button>
	</div>
</div>
