<ion-content padding>
	<ion-header>
		<ion-icon (click)="goHome()" class='homeIcon' name="md-home"></ion-icon>
		<h1 (click)="goHome()" id="ptitle">Timmerdorp</h1>
		<ion-navbar>
			<ion-title>
				<img (click)="goHome()" src="assets/imgs/logo.png" class="nav-logo">
			</ion-title>
		</ion-navbar>
	</ion-header>
	<div class='content'>
		<div class="user-info">
			<h1>Hutnummer:</h1>
			<ion-item>
				<ion-input #nrInput type="tel" placeholder="123" [(ngModel)]="hutNr" (ngModelChange)="search($event)"
					maxlength="3"></ion-input>
			</ion-item>
		</div>

		<div *ngIf='!(hutNr && hutNr.length === 3) && history && history.length > 0 && (!loading || isUndoing)'>
			<ion-list class='peopleList'>
				<ion-list-header>
					Wijzigingsgeschiedenis
				</ion-list-header>

				<div *ngFor="let h of history; let i = index">
					<ion-item [ngClass]="giveAccent&&!i?'accent':''"
						class='{{"item item-block item-md " + getWijk((h.hutnr||[0])[0])}}'>
						<ion-label>
							<div *ngIf="!h.removal">
								<h2>{{h.name}}</h2>
								<h3>Polsbandje: {{h.wristband}}</h3>
							</div>
							<div *ngIf="h.removal">
								<h2>{{h.name}}</h2>
								<h3><i>Verwijderd uit hut</i></h3>
							</div>
							<div>
								<p>Oud<span class='largeScreenSpan'> hutje</span>: {{((h.oldNr||[])[0])||"-"}}</p>
								<p>Nieuw<span class='largeScreenSpan'> hutje</span>: {{h.removal?"-":h.hutnr}}</p>
							</div>
							<ion-button size="small" class='undoButton' id='{{i}}'
								(click)='tempHutNr=h.oldNr;isUndoing=true;selectedChild = h.ticket;reallyAddChildNow();undo(i);'>
								{{undoingIsDone&&undoItem===i?"Opgeslagen!":"Undo"}}</ion-button>
						</ion-label>
					</ion-item>
				</div>
			</ion-list>
		</div>

		<div class="bracelet-number conditional" [ngClass]='hutNr && hutNr.length === 3 ? "shown":""'>
			<h1>Kinderen in hut{{hutNr?' ' + hutNr:''}}:</h1>
			<div class="user-info">
				<span *ngIf="!loginError&&!notLoggedIn" style="color:red;font-weight:bold">
					{{error}}
				</span>
				<span *ngIf="loginError" style="color:red;font-weight:bold">
					Login-gegevens onjuist. <a (click)='toLogin()'>Aanpassen</a>
				</span>
				<span *ngIf="notLoggedIn" style="color:red;font-weight:bold">
					Je moet eerst <a (click)='toLogin()'>inloggen</a>!
				</span>
				<div style='height: 20px;'>
					<div *ngIf="loading&&!notLoggedIn">
						<ion-spinner color='primary'></ion-spinner>
					</div>
				</div>
				<p style='color: red;font-weight:bold;'
					*ngIf="searched && hutTickets && !hutTickets.length && !notLoggedIn && hutNr && hutNr.length === 3">
					Nog geen kindertjes in dit hutje :(</p>
			</div>
			<div *ngFor="let child of hutTickets">
				<button ion-button full class="modern customColoured"
					[ngStyle]='{"background": getBg(child.meta.hutnr)}'
					(click)="removeChild = child; showRemoveModal();">
					{{ child.meta.WooCommerceEventsAttendeeName[0] }}
					{{ child.meta.WooCommerceEventsAttendeeLastName[0] }} ({{ child.meta.wristband ||
				'-' }})
				</button>
			</div>
			<button ion-button full (click)="showAddModal()" class="bg-blue correction">
				<ion-icon slot='start' name='add' style='margin-right:12px;position:relative;font-size:1.8em;'>
				</ion-icon>
				Kind toevoegen
			</button>
		</div>
	</div>
</ion-content>

<div [ngClass]="{'shown': addModal.show}" (click)="$event.target.id==='myModal'?closeAddModal():''" id="myModal"
	class="modal conditional">
	<div class="modal-content">
		<div id='modalTop'>
		</div>
		<div id='modalBottom'>
			<span class="close" (click)="closeAddModal();">&times;</span>
			<h1>Kind toevoegen</h1>
			<p>Zoek een kind en voeg het toe aan hutje {{hutNr}}.</p>
			<ion-item *ngIf="isTue">
				<ion-label>Automatisch aanwezig melden</ion-label>
				<ion-toggle [(ngModel)]="autoPresence"></ion-toggle>
			</ion-item>

			<ion-item class='modalInput'>
				<ion-input type="text" class='modalInput' placeholder='Nummer of naam van kind' [(ngModel)]="searchTerm"
					(ngModelChange)="searchChild($event)"></ion-input>
			</ion-item>


			<p style="color:red; font-weight: bold;">
				{{searchError}}
			</p>
			<div style='height: 40px; margin-top: 10px'>
				<ion-spinner *ngIf='loading&&!notLoggedIn' color='primary'></ion-spinner>
			</div>

		</div>
		<div *ngFor="let child of tickets">
			<button ion-button full (click)="addChildToHut(child);" class="bg-grey modern">
				{{ child.meta.WooCommerceEventsAttendeeName[0] }}
				{{ child.meta.WooCommerceEventsAttendeeLastName[0] }} ({{ child.meta.wristband ||
					'-' }})&nbsp;{{(child.meta.hutnr||[])[0]?"&mdash;&nbsp;":''}}
				<span *ngIf="child.meta.hutnr && child.meta.hutnr[0][0] === '0'"
					style="background-color:yellow;padding: 0px 6px">hutje:&nbsp;
					{{ child.meta.hutnr}}</span>
				<span *ngIf="child.meta.hutnr && child.meta.hutnr[0][0] === '1'"
					style="background-color:red;color:white;padding: 0px 6px">hutje:&nbsp;
					{{ child.meta.hutnr }}</span>
				<span *ngIf="child.meta.hutnr && child.meta.hutnr[0][0] === '2'"
					style="background-color:blue;color:white;padding: 0px 6px">hutje:&nbsp;
					{{ child.meta.hutnr }}</span>
				<span *ngIf="child.meta.hutnr && child.meta.hutnr[0][0] === '3'"
					style="background-color:green;color:white;padding: 0px 6px">hutje:&nbsp;
					{{ child.meta.hutnr}}</span>
			</button>
		</div>

	</div>

</div>

<div [ngClass]="{'shown': removeModal.show}" id="removeModal"
	(click)="$event.target.id==='removeModal'?closeRemoveModal():''" class="conditional modal stanModal">
	<div class="modal-content">
		<div id='modalTop' class='warnModal'>
		</div>
		<div id='modalBottom'>
			<span class="close" (click)="closeRemoveModal();">&times;</span>
			<h1>Waarschuwing</h1>
			<p *ngIf="removeChild">Weet je zeker dat je {{ removeChild.meta.WooCommerceEventsAttendeeName[0] }}
				wilt verwijderen?</p>
		</div>
		<button ion-button full (click)="removeChildFromHut(removeChild)" class="bg-green correction modern">Ja</button>
		<button ion-button full (click)="closeRemoveModal()" class="bg-red correction modern">Nee</button>
	</div>
</div>

<div [ngClass]="{'shown': warningModal.show}" id="warningModal"
	(click)="$event.target.id==='warningModal'?closeWarningModal():''" class="conditional modal stanModal">
	<div class="modal-content">
		<div id='modalTop' class='warnModal'>
		</div>
		<div id='modalBottom'>
			<span class="close" (click)="closeModal();">&times;</span>
			<h1>Waarschuwing</h1>
			<p *ngIf="selectedChild">{{ selectedChild.meta.WooCommerceEventsAttendeeName[0] }} heeft al een hutje!
				Weet
				je
				zeker dat je
				hem/haar wilt overplaatsen van hutje {{selectedChild.meta.hutnr}} naar hutje {{hutNr}}?</p>
		</div>
		<button ion-button full (click)="reallyAddChildNow()" class="bg-green correction modern">Ja</button>
		<button ion-button full (click)="closeWarningModal()" class="bg-red correction modern">Nee</button>
	</div>
</div>