page-connect-child-to-cabin {
  .button-md,
  .button-ios {
    &:first-of-type {
      margin-top: -8px;
    }
  }
  .undoButton {
    background: #f44336;
    padding: 11px;
    border-radius: 4px;
    color: white;
    right: 8px;
    top: 15px;
	position: absolute;
	transition-duration: 400ms;
  }

  .undoButton.done{
	  background: $green;
  }

  ion-item.accent{
	  background: red;
  }
}
