<ion-content class='homeContent' padding>
	<ion-header [ngClass]='showPhoto?"fullscreen":""' (click)='showPhoto = !showPhoto'>
		<div [ngClass]='showPhoto?"hiddenHeader":""' id='overlay'></div>
		<h1 [ngClass]='showPhoto?"hiddenHeader":""' class='home' id="ptitle">Timmerdorp<br>{{y}}</h1>
		<img [ngClass]='showPhoto?"hiddenHeader":""' src="assets/imgs/logo.png" class="nav-logo">
	</ion-header>


	<div id='homeButtons'>
		<button ion-button full *ngFor="let p of pages" (click)="openPage(p)"
			[ngClass]="p.class + (!showPhoto || (!p.weather && !p.data)?'':' hidden')" class='homeButton'>
			<div class='homeBtnD' *ngIf='!showPhoto || (!p.weather && !p.data)'>
				<ion-icon slot='start' name='{{p.weather && weather?weather.icon:(p.icon||"")}}'
					[ngClass]="(p.weather && weather)?(weather.icon!='sunny'?'blueIcon ':'yellowIcon '):' ' + (p.data?'data':'')">
				</ion-icon>
				<div *ngIf="p.weather">
					<h2>Het is {{(weather||{}).temp}}&deg;C</h2>
					<div class='weatherMsg'>
						<p>{{(weather||{}).msg}}</p>
					</div>
				</div>
				<div *ngIf="p.data" id='data'>
					<h2>{{childrenCount}} kind{{childrenCount!=1?"eren":""}} hier</h2>
					<div class='weatherMsg'>
						<p>{{wijkCount||0}} in wijk {{wijken[wijk]}}</p>
					</div>
				</div>
				<span *ngIf="!p.small && !p.weather && !p.data">
					{{p.title}}
				</span>
			</div>
		</button>
	</div>
	<span>{{error}}</span>

</ion-content>
