<ion-content class='homeContent' padding>
	<ion-header>
		<h1 id="ptitle">Timmerdorp<br>2020</h1>
		<img (click)="goHome()" src="assets/imgs/logo.png" class="nav-logo">
	</ion-header>

	<button ion-button full *ngFor="let p of pages" (click)="openPage(p)" [ngClass]="p.class" class='homeButton'>
		<div style='text-align:left;'>
			<ion-icon slot='start' name='{{p.icon||""}}' style='margin-right:12px;position:relative;'></ion-icon>
			<span *ngIf="p.class.split('small').length==1" style='font-size:18px'>
				{{p.title}}
			</span>
		</div>
	</button>

	<p>{{error}}</p>

</ion-content>

<div [ngClass]="{'shown': modalShown}" (click)="$event.target.id==='myModal'?closeModal():''" id="myModal"
	class="modal conditional">
	<div class="modal-content">
		<span class="close" (click)="closeModal();">&times;</span>
		<h1>Waarschuwing</h1>
		<p>Voor het openen van deze pagina <b>moet</b> je de nieuwste versie gebruiken, anders kunnen wij niet
			garanderen dat het allemaal werkt.</p>
		<button ion-button full (click)="belStan()" class="bg-green correction">
			<ion-icon slot='start' name='call' style='margin-right:12px;position:relative;font-size:1.8em;'></ion-icon>
			<span style='font-size: 18px;'>
				Bel Stan
			</span>
		</button>
		<button ion-button full (click)="openStore()" class="bg-blue correction">Open {{android?"Play":"App"}}
			Store</button>
		<button ion-button full (click)="closeModal()" class="bg-red correction">Terug</button>
		<button ion-button full (click)="forceOpenPage()" class='correction' style='background: black;'>Toch openen
			(pas op)</button>
	</div>
</div>