page-stats {
	.content.main-content {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

  .halfWidth {
    font-weight: bold;
    font-size: 28px;
    height: 180px;
    margin: -2px !important;
  }

  #main {
    text-align: center;
    button {
      span span {
        font-weight: normal;
        font-size: 20px;
      }
    }
  }

  h1:not(#ptitle) {
    margin-top: 0;
  }

  #main > .user-info {
    border: none !important;
  }

  span.button-inner {
    font-size: 3rem;
  }

  ion-item {
    background: #fafafa !important;
    .item-inner {
      border-bottom: 1px solid #dedede !important;
    }
  }

  @media only screen and (min-width: 330px) {
    ion-item .item-inner {
      padding-left: 12px;
    }
  }

  @media only screen and (max-width: 340px) {
    ion-item,
    ion-item * {
      font-size: 16px !important;
    }
  }

  #allStatsTable {
    margin-bottom: 18px;
  }

  tr.isYou {
    td {
      text-decoration: underline;
    }
  }

  g[aria-label="Chart"] + g {
    display: none; // hide advertisement for chart framework
  }

  #presencesByTimeChart.shown {
    height: 400px;
  }

  td.white {
    color: gray;
  }
  td.blue {
    color: $blue;
  }
  td.yellow {
    color: $yellow;
  }
  td.red {
    color: $red;
  }
  td.green {
    color: $green;
  }
}
