<ion-content padding>
  <ion-header (click)="g.goHome()" class='blue wijk-header'>
		<i class="material-icons-outlined homeIcon">home</i>
    <h1 id="ptitle">{{title}}</h1>
    <ion-navbar [ngClass]='blue'>
      <ion-title>
        <img src="assets/imgs/logo.png" class="nav-logo">
      </ion-title>
    </ion-navbar>
  </ion-header>
  <div class='content'>
    <div id='main'>
      <div [ngClass]="loading && !isRefreshing ? 'user-info' : ''">
        <div id='spinner' [ngClass]="{ 'hidden': !loading }">
          <div *ngIf="loading && !isRefreshing">
            <ion-spinner color='primary'></ion-spinner>
          </div>
        </div>
      </div>
      <div style="overflow-x: scroll;">
        <table *ngIf="statistieken" class='cleanTable withHeader leftFixed'>
          <tr>
            <td>
            </td>
            <td style="text-align: center;">
              Totaal
            </td>
            <td *ngFor="let wijk of wijken" style="text-align: center;">
              {{ g.getWijkName(wijk) }}
            </td>
          </tr>
          <tr *ngFor='let p of wijkprops'>
            <td style="min-width: 150px;">
              {{ p.title }}
            </td>
            <td style="text-align: center; padding: 16px 8px !important;">
              {{ statistieken[p.prop] || "&mdash;" }}
            </td>
            <td *ngFor="let wijk of wijken" style="text-align: center; padding: 16px 8px !important;">
              {{ statistieken.quarters[wijk][p.prop] || "&mdash;" }}
            </td>
          </tr>
          <tr>
            <td>
              Aantal met hutnummer
            </td>
            <td style="text-align: center; padding: 16px 8px !important;">
              {{ statistieken.haveHutnr }}
            </td>
            <td *ngFor="let wijk of wijken" style="text-align: center; padding: 16px 8px !important;">
              &mdash;
            </td>
          </tr>
          <tr>
            <td>
              Aantal met polsbandje
            </td>
            <td style="text-align: center; padding: 16px 8px !important;">
              {{ statistieken.haveWristband }}
            </td>
            <td *ngFor="let wijk of wijken" style="text-align: center; padding: 16px 8px !important;">
              &mdash;
            </td>
          </tr>
        </table>
      </div>

      <div *ngIf="admins && admins.length" style="margin-top: 16px; padding-bottom: 64px;">
        <h1>Timmerdorp Battle</h1>
        <p style="padding: 12px;">
          Hieronder zie je welke Timmerdorp-topper de meeste kinderen aanwezig heeft gemeld. Doe je best, en
          <u>zorg dat je meer kinderen helpt dan Twan!</u>
        </p>
        <div style="overflow-x: scroll;">
          <table class='cleanTable withHeader topFixed'>
            <tr>
              <td>
                Naam
              </td>
              <td>
                Dinsdag
              </td>
              <td>
                Woensdag
              </td>
              <td>
                Donderdag
              </td>
              <td>
                Vrijdag
              </td>
              <td>
                Totaal
              </td>
            </tr>
            <tr *ngFor="let admin of admins; let i = index">
              <td>{{ admin.naam }} </td>
              <td>{{ admin.di || 0 }} </td>
              <td>{{ admin.wo || 0 }} </td>
              <td>{{ admin.do || 0 }} </td>
              <td>{{ admin.vr || 0 }} </td>
              <td>{{ admin.total || 0 }} </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="fab" (click)="refreshData()">
        <i [ngClass]="isRefreshing ? 'isRefreshing material-icons' : 'material-icons'">refresh</i>
      </div>
    </div>
  </div>
</ion-content>
