page-settings {
	.content.main-content {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	button {
		border-radius: 0px !important;
	}

	p {
		padding: 6px 12px !important;
		font-size: 16px;
	}

  #appInfo {
    tr > td:first-of-type {
      font-weight: bold;
    }
  }

  #adminPrompt {
    color: $blue;
    text-decoration: underline;
    cursor: pointer;
  }
}
