<ion-content padding>
  <ion-header (click)='g.goBack()' class='wijk-header'>
		<i [ngClass]="g.wijk == 'yellow' || g.wijk == 'white' ? ' dark-icon' : ''" class="material-icons homeIcon">arrow_back</i>
    <h1 [ngClass]="g.wijk" id="ptitle">
      {{ title }}
    </h1>
    <ion-navbar [ngClass]="g.wijk">
      <ion-title>
        <img src="assets/imgs/logo.png" class="nav-logo">
      </ion-title>
    </ion-navbar>
  </ion-header>
  <div class='content main-content'>
    <div class="user-info" *ngIf="loading">
      <div id='spinner' [ngClass]="{'hidden': !loading}">
        <div>
          <ion-spinner color='primary'></ion-spinner>
        </div>
      </div>
    </div>
    <div *ngIf="!loading && !error">
      <ion-list *ngFor="let d of days; let i = index" id="{{d}}" class='peopleList'>
        <ion-list-header style="padding-left: 0px!important;">
          {{ dates[i] + ' (' + data[d].count + ')'}}
          <i class="material-icons" *ngIf="data[d].kids.length" (click)="shareDate(d)" style="position: absolute; right: 8px; top: 12px;">share</i>
        </ion-list-header>
        <div *ngIf="!data[d].kids.length"><b>Geen kinderen jarig</b></div>
        <div *ngFor="let bday of data[d].kids" class='{{ "childItem " + g.getWijk(bday.hutNr) }}' (click)='zoekKind(bday)'>
          <table>
            <tr>
              <td>
                <i class="material-icons" style="font-size: 32px; position: relative; left: 2px;">cake</i>
              </td>
              <td style="padding-left: 0px;">
                <h2>
                  <b>{{ bday.name }}</b>
                  <br>
                  <p style="font-size: 14px; margin-bottom: 4px; margin-top: 0px;">Wordt {{ bday.newAge }}!</p>
                  <p style="font-size: 14px; margin-bottom: 0px; margin-top: 0px;">Hutje: {{ bday.hutNr }}</p>
                </h2>
              </td>
              <td>
                <ion-button size="small" class='fab'>
                  <ion-icon name="search"></ion-icon>
                </ion-button>
              </td>
            </tr>
          </table>
        </div>
      </ion-list>
    </div>
    <div *ngIf="error">
      Er is iets fout gegaan...
    </div>
  </div>
</ion-content>
