// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: Mikado-Bold;
  src: url("../assets/fonts/Mikado-Bold.woff");
}

.input-wrapper,
ion-list,
.item-md,
.item-ios {
  background: #fafafa !important;
}

body {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

h1,
button,
.result-child {
  font-family: Mikado-Bold;
}

.toolbar-background,
.toolbar {
  background: #0572c8 !important;
  border-bottom: none !important;
}

h1 {
  font-size: 32px;
}

.bg-yellow {
  background: $yellow;
  &:hover {
    background: #dfa401 !important;
  }
}

.conditional {
  opacity: 0;
  transition: opacity linear 400ms;
  &.modal {
    z-index: -1;
  }
}

.bar-button-default-md {
  transition-duration: 250ms !important;
}
.bar-button-default-md:hover:not(.disable-hover),
.bar-button-clear-md-default:hover:not(.disable-hover),
.bar-button-md-default:hover:not(.disable-hover) {
  color: #d3d3d3 !important;
}

.toolbar-title-md {
  padding: 0 !important;
}

.modal.high {
  z-index: 10;
}

.shown {
  opacity: 1;
}

#ptitle {
  position: absolute;
  top: 0px;
  margin-top: 22px;
  font-size: 30px;
  width: calc(100% - 160px);
  z-index: 100;
  text-align: center;
  left: 80px;
  color: white;
}

ion-header {
  position: relative;
}

div.content {
  padding: 10px !important;
}

@media only screen and (max-width: 410px) {
  #ptitle {
    font-size: 19px !important;
    margin-top: 29px !important;
  }
}

.label {
  font-size: 18px;
}

ion-content:not(.homeContent) > .scroll-content {
  margin-top: 0px !important;
  padding: 0px !important;
}

.bg-blue {
  background: $blue;
  &:hover,
  &.activated {
    background: $bluehover !important;
  }
}
.bg-green {
  background: $green;
}
.bg-red {
  background: $red;
}
button.bg-red:hover,
button.bg-red.activated {
  background: $redhover !important;
}
button.bg-green:hover,
button.bg-green.activated {
  background: #75c935 !important;
}
button.bg-grey:hover,
button.bg-grey.activated {
  background: #ccc !important;
  color: black !important;
}
.bg-grey {
  background: $lightGrey;
  &:hover {
    color: $white;
  }
}

.bar-button-menutoggle-md ion-icon {
  font-size: 4rem;
}

.homeIcon {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 4.3rem;
  left: 20px;
  top: 18px;
}

button {
  transition-duration: 300ms !important;
}

.bg-black{
	background: #000;
}

button.modern, button.modern *, button.modern > *{
	color: white!important;
}

.stanModal div button {
  color: white!important;
  margin: 0px 0 0px 0 !important;
}

.color-mediumBlack {
  color: $mediumBlack;
}

// Form styles
input[type="text"],
input[type="password"],
input[type="tel"] {
  width: 100%;
  height: 78px;
  padding: 20px;
  border: none;
  background-color: $lightGrey;
  -webkit-appearance: none;
  border-radius: 0;
}

// Span elements
.form-error {
  position: relative;
  top: 12px;
  color: $red;
}

.child-row {
  display: block;
  padding-bottom: 10px;
}

.search-on {
  margin-top: 10px;
}

.toast-container {
  // background: $darkGrey;
  border-radius: 5px;
  color: $darkGrey !important;
}

ion-navbar {
  height: 80px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid $blue;

  .nav-logo {
    position: relative;
    width: 90px;
    height: rem(60);
    float: right;
    padding-right: rem(10);
  }
  .bar-button {
    height: 80px;
    width: 80px;
    left: -10px;
    color: $white;
    border-radius: 0;
    background: $blue;
  }
}
.toolbar-ios ion-title {
  padding: 0;
}

.toolbar {
  min-height: 71px;
  border-bottom: 2px solid $blue;
}

.button-inner .ion-md-menu {
  font-size: 4rem !important;
}

.menu-inner {
  background: #fff;
  width: 100%;
}

.item-inner {
  padding-right: 8px;
  border-bottom: 0px solid #dedede !important;
}

ion-toolbar {
  height: 80px;

  img {
    display: none;
  }
  padding-bottom: 40px;

  .bar-button-close {
    height: 85px;
    width: 80px;
    top: -4px;
    left: -4px;
    color: $white;
    border-radius: 0;
    background: $blue;
  }
}

.nav-items {
  text-align: center;
  padding: 32px;
  margin-bottom: 10px;
  width: 100%;
  background: $lightGrey;

  &:first-of-type {
    border-top: 0px;
    margin-top: 50px;
  }
}

.user-info {
  padding-top: 20;
  text-align: center;
  padding: 12px 0;
  border-bottom: none;

  h1 {
    padding-bottom: 15px;
  }
}

ion-spinner {
  width: 48px;
  height: 48px;
}

.bracelet-number {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;

  h1 {
    padding-bottom: 15px;
  }
  .correction {
    position: relative;
    top: 40px;
  }
}

.container {
  position: relative;
  // height: 100%;
}

.item-inner {
  box-shadow: none !important;
}

.button-md,
.button-ios {
  padding: 32px;
  margin-bottom: 20px;
  height: 80px;
  box-shadow: none;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: none;

  &:first-of-type {
    margin-top: 20px;
  }
}

input.text-input {
  background: #e0e0e0 !important;
}

* {
  border-bottom-color: none !important;
}

.container-bottom {
  position: sticky;
  bottom: 0;
  border: solid 1px green;
  width: calc(100% - 32px);
  .gradient {
    border: 1px solid red;
    height: 80px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
  }
  .button-md:first-of-type,
  .button-ios:first-of-type {
    margin-top: 0px;
  }
}

html,
body {
  height: 100%;
}

// Modalbox
/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  padding: 24px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(16, 16, 16, 0.9); /* Black w/ opacity */
}

#childDataHeader {
  margin: 20px 0;
}

input.text-input {
  background: #fff;
}
.modalInput {
  background: #fff !important;
}
ion-item,
.item-md,
.item-ios {
  &:not(.modalInput) {
    background: #fafafa !important;
  }
}

.content-md {
  color: #202124;
  background: #fafafa;
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  // top: 160px;
  background-color: $white;
  margin: 20px auto;
  padding: 20px;
  text-align: center;

  h1 {
    margin-top: 45px;
  }
  span {
    line-height: 40px;
  }

  padding: 0;

  ul {
    li {
      list-style: none;
    }
  }

  .input-wrapper,
  ion-item:not(.modalInput),
  .item-md:not(.modalInput),
  .item-ios:not(.modalInput) {
    background: rgba(0, 0, 0, 0) !important;
  }

  button {
    border-radius: 0px !important;
    margin: 0px;
    &:nth-of-type(2n) {
      background: $blue;
    }
    &:nth-of-type(2n + 1) {
      background: #1c8ae1;
    }
    &:hover,
    &.activated {
      background: $bluehover !important;
    }
  }
}

#modalTop.warnModal {
  background: #e82525;
}

button.modern {
  border-radius: 0px !important;
  margin: 0px;
  &:nth-of-type(2n):not(.customColoured) {
    background: $blue;
  }
  &:nth-of-type(2n + 1):not(.customColoured) {
    background: #1c8ae1;
  }
  &:hover:not(.customColoured),
  &.activated:not(.customColoured) {
    background: $bluehover !important;
  }
}

#modalBottom {
  padding: 16px;
  z-index: 200;
  position: relative;
  span {
    color: white;
    margin-top: 12px;
    font-size: 56px;
  }
  h1 {
    color: white;
    margin-top: 15px !important;
    margin-bottom: 48px;
    font-weight: normal;
  }
}

#modalTop {
  background: #2196f3;
  width: 100%;
  height: 100px;
  position: absolute;
}

/* The Close Button */
.close {
  color: $mediumBlack;
  float: right;
  font-size: 22px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.text-input-md {
  margin: 0 !important;
  margin-top: 20px !important;
}

ion-navbar .nav-logo {
  width: 75px !important;
}

.toolbar-background.bg-darkred,
button.bg-darkred {
  background: #b20606 !important;
  &:hover {
    background: #9e0c0c !important;
  }
}

button {
  border-radius: 4px !important;
}

h1,
button {
  font-family: Roboto, Arial !important;
}

.scroll-content {
  margin-top: 64px;
}
