page-search {
  .fab {
    height: 48px;
    width: 48px;
    background: #2196f3;
    padding: 11px;
    color: white;
    right: 0px;
    padding-top: 0px !important;
    top: 15px;
    position: absolute;
    border-radius: 50% !important;
    padding-left: 12px !important;
  }

  table {
    div {
      h3 {
        text-align: left !important;
        padding-left: 4px;
        font-size: 18px;
        text-transform: uppercase;
        color: #666;
        font-weight: normal;
      }
      h3:not(:first-of-type) {
        margin-top: 8px;
      }
    }
  }

  tr {
    text-align: left;
  }

  table,
  tbody,
  tr {
    width: 100%;
    display: block;
  }

  td {
    &:first-of-type {
      width: 40%;
    }
    &:not(::first-of-type) {
      width: 50%;
    }
    text-align: left;
    padding-left: 4px;
    display: inline-block;
    font-size: 13px;
  }

  td.b {
    padding-right: 8px;
    font-weight: bold;
  }
}
