page-search {
  table {
    div {
      h3 {
        text-align: left !important;
        padding-left: 4px;
        font-size: 18px;
        text-transform: uppercase;
        color: #666;
        font-weight: normal;
      }
      h3:not(:first-of-type) {
        margin-top: 8px;
      }
    }
  }

  tr {
    text-align: left;
  }

  table,
  tbody,
  tr {
    width: 100%;
    display: block;
  }

  td {
    &:first-of-type {
      width: 40%;
    }
    &:not(::first-of-type) {
      width: 50%;
    }
    text-align: left;
    padding-left: 4px;
    display: inline-block;
    font-size: 13px;
  }

  td.b {
    padding-right: 8px;
    font-weight: bold;
  }

  .peopleList {
    ion-item {
      h2 {
        @media screen and (max-width: 440px) {
          font-size: 2.2rem;
          padding-top: 4px;
        }
        @media screen and (min-width: 440px) {
          font-size: 2.8rem;
          padding-top: 0px;
          span {
            //   wil ik dit?
            border-left: 1.5px solid rgba(0, 0, 0, 0.15);
            padding-left: 14px;
          }
        }
      }
    }
  }

  .bracelet-number {
    width: calc(100% - 36px);
    margin-left: 18px;
  }

  h1 {
    margin-top: 0px;
  }

  .modal-content {
    &.Rood {
      button:hover {
        background: darken($red, 18%) !important;
      }
      button:nth-of-type(2n + 1) {
        background: darken($red, 12.5%);
      }
      button:nth-of-type(2n) {
        background: $red;
      }
      a {
        color: $red;
      }
      #modalTop {
        background: $red !important;
      }
    }
    &.Groen {
      button:hover {
        background: darken($green, 18%) !important;
      }
      button:nth-of-type(2n + 1) {
        background: darken($green, 12.5%);
      }
      button:nth-of-type(2n) {
        background: $green;
      }
      a {
        color: $green;
      }
      #modalTop {
        background: $green !important;
      }
    }
    &.Geel {
      button:hover {
        background: darken($yellow, 18%) !important;
      }
      button:nth-of-type(2n + 1) {
        background: darken($yellow, 4%);
      }
      button:nth-of-type(2n) {
        background: $yellow;
      }
      a {
        color: $yellow;
      }
      #modalTop {
        background: $yellow !important;
      }
    }
  }
}
