<ion-content>
	<ion-header>
		<ion-icon (click)="goHome()" class='homeIcon' name="md-home"></ion-icon>
		<h1 (click)="goHome()" id="ptitle">Timmerdorp</h1>
		<ion-navbar>
			<ion-title>
				<img (click)="goHome()" src="assets/imgs/logo.png" class="nav-logo">
			</ion-title>
		</ion-navbar>
	</ion-header>
	<div class='content'>
		<div class="container">
			<div class="bracelet-number">
				<h1>Zoek kind:</h1>
				<span class="search-on">Zoek op naam, armbandnummer of hutnummer</span>
				<ion-item>
					<ion-input type="text" [(ngModel)]="searchTerm" (ngModelChange)="search($event)"></ion-input>
				</ion-item>
			</div>
		</div>

		<div *ngIf='!tickets.length && history && history.length > 0'>
			<ion-list>
				<ion-list-header>
					Zoekgeschiedenis
				</ion-list-header>

				<ion-item *ngFor="let h of history">
					<ion-label>
						<ion-icon name='person' style='position: fixed;font-size:3.5em;left: 35px;'
							[ngStyle]='{"color": h.wijk}'></ion-icon>
						<div style='position:relative; left: 80px;'>
							<h2>{{h.name}}</h2>
							<h3>{{h.wristband}}</h3>
							<p>Hutje: {{h.hutnr}}</p>
						</div>
						<ion-button size="small" (click)='searchTerm=""+h.wristband;searchThis()'
							style='background: #2196f3;padding: 11px;border-radius: 4px;color: white;right: 0px;top: 15px;position: absolute;'>
							Zoeken</ion-button>
					</ion-label>

				</ion-item>
			</ion-list>
		</div>

		<div *ngFor="let child of tickets">
			<button ion-button full (click)="showModal(child)" class="bg-grey color-mediumBlack">
				{{child.meta.WooCommerceEventsAttendeeName[0]}} {{child.meta.WooCommerceEventsAttendeeLastName[0]}} ({{child.meta.wristband ||
				'-'}})&nbsp;&nbsp;
				<span *ngIf="child.meta.hutnr && child.meta.hutnr[0][0] === '0'"
					style="background-color:yellow;padding: 2px 6px">(hutje:&nbsp; {{child.meta.hutnr}})</span>
				<span *ngIf="child.meta.hutnr && child.meta.hutnr[0][0] === '1'"
					style="background-color:red;color:white;padding: 2px 6px">(hutje:&nbsp;
					{{child.meta.hutnr}})</span>
				<span *ngIf="child.meta.hutnr && child.meta.hutnr[0][0] === '2'"
					style="background-color:blue;color:white;padding: 2px 6px">(hutje:&nbsp;
					{{child.meta.hutnr}})</span>
				<span *ngIf="child.meta.hutnr && child.meta.hutnr[0][0] === '3'"
					style="background-color:green;color:white;padding: 2px 6px">(hutje:&nbsp;
					{{child.meta.hutnr}})</span>
			</button>
		</div>

		<div class="user-info">
			<span *ngIf="!loginError&&!notLoggedIn" style="color:red;font-weight:bold">
				{{error}}
			</span>
			<span *ngIf="loginError" style="color:red;font-weight:bold">
				Login-gegevens onjuist. <a (click)='toLogin()'>Aanpassen</a>
			</span>
			<span *ngIf="notLoggedIn" style="color:red;font-weight:bold">
				Je moet eerst <a (click)='toLogin()'>inloggen</a>!
			</span>
			<div style='height: 20px;'>
				<div *ngIf="loading&&!notLoggedIn">
					<ion-spinner color='primary'></ion-spinner>
				</div>
			</div>
		</div>
	</div>
</ion-content>
<!-- start modal box -->
<div [ngClass]="{'shown': modal.showModal}" (click)="$event.target.id==='myModal'?closeModal():''" id="myModal"
	class="modal conditional">
	<div class="modal-content" *ngIf="modal.child">
		<div id='modalTop'>
		</div>
		<div id='modalBottom'>
			<span class="close" (click)="closeModal();">&times;</span>
			<h1 id='childDataHeader'>{{(modal.child.meta.WooCommerceEventsAttendeeName||[])[0]}}
				{{(modal.child.meta.WooCommerceEventsAttendeeLastName||[])[0]}}</h1>
			<table>
				<div *ngFor="let c of tableCategories">
					<h3>{{c.name}}</h3>
					<tr *ngFor="let i of c.items">
						<td>{{i.title}}:</td>

						<td *ngIf="!i.tel&&i.title!=='Wijk'&&c.name!='Aanwezigheid'">
							{{(modal.child.meta[i.name]||[])[0]}}</td>
						<td *ngIf="c.name==='Aanwezigheid'">
							{{(modal.child.meta["present_" + i.day]||[])[0] === '1'?"Aanwezig":"Afwezig"}}</td>
						<td *ngIf="i.title==='Wijk'">{{getWijk((modal.child.meta.hutnr||[])[0])}}</td>
						<td *ngIf='i.tel'><a
								href="tel: {{filterPhoneNr(modal.child.meta[i.name])}}">{{(modal.child.meta[i.name]||[])[0]}}</a>
						</td>
					</tr>
				</div>
			</table>
		</div>
		<button ion-button full (click)="closeModal();" class="bg-green correction">Ok</button>
		<button ion-button full (click)="scanChild(modal.child.meta.WooCommerceEventsTicketID[0])"
			class="bg-yellow correction">Scan</button>
		<button ion-button full (click)="goHome()" class="bg-red correction">Terug naar homepagina</button>
	</div>
</div>