<ion-content padding>
	<ion-header (click)='g.goBack()'>
		<i [ngClass]="g.wijk == 'yellow' || g.wijk == 'white' ? ' dark-icon' : ''" class="material-icons homeIcon">arrow_back</i>
    <h1 [ngClass]="g.wijk" id="ptitle">
      {{ title }}
    </h1>
    <ion-navbar [ngClass]="g.wijk">			<ion-title>
				<img src="assets/imgs/logo.png" class="nav-logo">
			</ion-title>
		</ion-navbar>
	</ion-header>
	<div class="content main-content">
		<h1 id="title">Bijlagen</h1>
		<div id="files">
			<div *ngFor="let file of files">
				<ion-card (click)="openFile(file.url)" button>
					<img src="assets/imgs/pdf.png" />
					<div>
						<ion-icon class="file-icon" name="document">
						</ion-icon>
					</div>
					<ion-card-header>
						<h5>{{file.title}}</h5>
					</ion-card-header>
				</ion-card>
			</div>
		</div>

		<h1>Fotoalbums {{photoYear}}</h1>
		<ion-item id="yearSelector" *ngIf="!loading">
			<ion-label>Kies fotojaar...</ion-label>
			<ion-select [(ngModel)]="photoYear" (ngModelChange)="filterAlbums()" placeholder="{{ photoYear }}">
				<ion-option *ngFor="let y of albumYears" value="{{ y }}">{{ y }}</ion-option>
			</ion-select>
		</ion-item>

		<div>
			<div *ngIf="loading" id="spinner">
				<ion-spinner color="primary"></ion-spinner>
			</div>
		</div>

    <div *ngIf="albums && albums.length === 0">
      Er zijn (nog) geen fotoalbums voor {{photoYear}}. Kies hierboven een ander jaar.
    </div>

		<div id="columns">
			<div *ngFor="let a of albums">
				<ion-card (click)="openAlbum(a.id)" button>
					<img [src]="( (a || {})['primary_photo_extras'] || {})['url_m']" />
					<ion-card-header>
						<h5 style="font-weight: bold; font-family: 'ProductSans';">{{((a||{}).title||{})['_content']}}</h5>
					</ion-card-header>
				</ion-card>
			</div>
		</div>
	</div>
</ion-content>
