<ion-content padding>
	<ion-header (click)="g.goHome()" [ngClass]='(wijk||"") + " wijk-header"'>
		<i class="material-icons-outlined homeIcon">home</i>
		<h1 id="ptitle">{{title}}</h1>
		<ion-navbar [ngClass]='(wijk||"")'>
			<ion-title>
				<img src="assets/imgs/logo.png" class="nav-logo">
			</ion-title>
		</ion-navbar>
	</ion-header>
	<div class='content'>
    <div class="user-info" *ngIf="loading">
      <div id='spinner' [ngClass]="{'hidden': !loading}">
        <div>
          <ion-spinner color='primary'></ion-spinner>
        </div>
      </div>
    </div>
		<div id='schedule'>
			<div *ngFor='let d of schedule; let i = index' id='{{d.timestamp}}' [ngClass]='(wijk||"blue")'>
				<h3>{{d.date}}</h3>
				<p *ngIf='getDate() == d.timestamp'><b><u>Het is nu: {{ getTime() }}</u></b></p>
				<ul>
					<li *ngFor='let a of d.activities'><b>{{ a.startt }}{{ a.endt ? "-" + a.endt : ""}}</b>: <span
							[innerHTML]="a.desc"></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</ion-content>
