page-changeWristband {
  button {
    transition: opacity 400ms !important;
    opacity: 0 !important;
  }
  button.shown {
    opacity: 1 !important;
  }
  #columns {
    column-count: 2;
  }
  h3 {
    font-size: 2.4rem;
  }

  #saveBtn ion-icon {
    margin-right: 12px;
    position: relative;
    font-size: 1.8em;
  }

  #searchBtn2 {
    ion-icon {
      margin-right: 12px;
      position: relative;
      font-size: 1.8em;
    }
  }

  .infoCard .inhoud {
    padding-bottom: 12px;
  }

  #old {
    display: inline-block;
    width: 100%;
  }
  .user-info,
  .bracelet-number {
    padding-top: 0px !important;
  }

  .user-info > div {
    height: 20px;
    div {
      margin-bottom: 80px;
    }
  }

  #searchBtn2 {
    z-index: 400;
    position: relative;
  }

  #old,
  #new {
    button {
      margin-left: auto !important;
      left: 0px !important;
      margin-right: auto !important;
    }
  }

  #new {
    position: relative;
    top: -3px;
  }

  h1,
  h3 {
    text-align: center;
  }

  ion-list {
    margin-top: 20px !important;
  }

  button {
    margin-top: 18px;
    width: calc(100% - 21px) !important;
    left: 15px;
  }

  .loading {
    margin-bottom: 40px;
  }

  .peopleList {
    ion-item {
      ion-label div {
        margin-top: 8px;
      }
      #searchBtn {
        margin-right: 16px;
        margin-top: 4px;
      }
      &.Blauw {
        #searchBtn {
          background: $blue;
        }
      }
      &.Rood {
        #searchBtn {
          background: $red;
        }
      }
      &.Groen {
        #searchBtn {
          background: $green;
        }
      }
      &.Geel {
        #searchBtn {
          background: $yellow;
        }
      }
    }
  }
}
