<ion-content padding>
	<ion-header (click)='g.goHome()'>
		<ion-icon class='homeIcon' name="md-home"></ion-icon>
		<h1 id="ptitle">Timmerdorp</h1>
		<ion-navbar>
			<ion-title>
				<img src="assets/imgs/logo.png" class="nav-logo">
			</ion-title>
		</ion-navbar>
	</ion-header>
	<h1 id='title'>Verander Polsbandnummer</h1>
	<div class='content'>
		<div id='columns'>
			<div id='old'>
				<h3>Oud nummer</h3>
				<ion-list class="line-input">
					<ion-item>
						<ion-input #nrInput type='tel' class="ion-text-right" [(ngModel)]="oldNr"
							(ngModelChange)="valueChanged()" maxlength='3'>
						</ion-input>
					</ion-item>
				</ion-list>
				<span *ngIf="wristBandError" class="form-error">
					{{ wristBandError }}
				</span>

				<button ion-button full (click)="searchTicket()" class="bg-blue correction shown" id='searchBtn2'>
					<ion-icon slot='start' name='search'></ion-icon>
					Zoeken
				</button>
			</div>

			<div id='new' *ngIf="searched">
				<h3>Nieuw nummer</h3>
				<ion-list class="line-input">
					<ion-item>
						<ion-input #nrInput type='tel' class="ion-text-right" [(ngModel)]="newNr" id='secondInput'
							maxlength='3'>
						</ion-input>
					</ion-item>
				</ion-list>
				<button ion-button full (click)="saveNr()" id='saveBtn' class="bg-blue correction shown">
					<ion-icon slot='start' name='checkmark'>
					</ion-icon>
					Opslaan
				</button>
			</div>
		</div>
		<div [ngClass]="'user-info errorCard' + (error&&oldNr>0&&searchedTerm==oldNr?' hasError':'')">
			<div class="content" *ngIf='error&&oldNr>0&&searchedTerm==oldNr'>
				<ion-icon name='warning'></ion-icon>
				<h1 id='errorHeader' [innerHTML]='error'></h1>
				<h4 id='errorHelp' [innerHTML]='errorHelp'></h4>
			</div>
		</div>
		<div [ngClass]="'user-info' + (loading?' loading':'')">
			<div>
				<div *ngIf="loading&&!notLoggedIn">
					<ion-spinner color='primary'></ion-spinner>
				</div>
			</div>
		</div>

		<div *ngIf='searched' class='infoCard'>
			<div class='{{"inhoud " + g.getWijk(ticket.hutnr)}}'>
				<h1>Kind #{{oldNr}}</h1>
				<table>
					<tr>
						<td><b>Naam: </b></td>
						<td>{{ticket.firstName}} {{ticket.lastName}}</td>
					</tr>
					<tr>
						<td><b>Ticket-barcode: </b></td>
						<td>{{ticket.barcode}}</td>
					</tr>
					<tr>
						<td><b>Geboortedatum: </b></td>
						<td>{{ticket.birthDate}}</td>
					</tr>
					<tr *ngIf='ticket.hutnr'>
						<td><b>Hutnummer: </b></td>
						<td>{{ticket.hutnr}}</td>
					</tr>
				</table>
			</div>
		</div>
		<ion-list class='peopleList' *ngIf="!searched && !error && !loading && history && history.length > 0">
			<ion-list-header>
				Wijzigingsgeschiedenis ({{history.length}})
			</ion-list-header>
			<ion-item (click)='oldNr=""+h.newNr;searched=true;searchTicket()' *ngFor="let h of history"
				class='{{"item item-block item-md " + g.getWijk((h.hutnr||[])[0])}}'>
				<ion-label>
					<div>
						<h3>Oud: <span>{{h.oldNr=='onbekend'?'-':h.oldNr}}</span></h3>
						<h3>Nieuw: <span>{{h.newNr}}</span></h3>
					</div>
					<div>
						<h2>{{h.name}}</h2>
					</div>
					<ion-button size="small" class='fab'>
						<ion-icon name='search'></ion-icon>
					</ion-button>
				</ion-label>
			</ion-item>
		</ion-list>

	</div>
</ion-content>